body{
    background-color: ghostwhite;
    font-family: "Times New Roman", "Arial Narrow", sans-serif;
}
p.name {
    font-size: 22pt;
    font-weight: bold;
    margin-top: 1em;
    opacity: 0.7;
}
p.date_of_birth {
    font-size: 14pt;
    color: green;
}
p.champions-date {
    font-size: 14pt;
    font-weight: bold;
    color: red;
}
/*----------------------------------------*/
a[href^='http']{
    background: url('extref.png') top left no-repeat;
    padding-left: 15px;
    /*display: list-item;*/
    /*list-style-image: url("extref.png");*/
    /*margin-left: 15px;*/
}
/*----------------------------------------*/
p.article {
    font-style: italic;
    color: blue;
}
/*непосещенная ссылка*/
a:link {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
a:visited {
    text-decoration: overline;
    color: blue;
}
a:active {
    text-decoration: underline;
    color: red;
}
a:focus {
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
p#main-info {
    border: dashed red 2px;
}
p{
    margin: 0;
}
p:last-child a {
    color: greenyellow;
}
p:last-child a:hover {
    color: steelblue;
}
body p:last-child{
    margin-top: 1em;
}