.container{
    margin: 1em;
    padding: 2em;
    border: solid 0.2em darkgray;
    border-radius: 0.5em;
    box-shadow: -0.5em -0.5em 0.2em black;
}
.row{
    margin-bottom: 3em;
}
.row > div{
    display: inline-block;
}
div[class^='block']{
    width: 33%;
}
.block1{
    background-image: linear-gradient(0deg, blue, yellow);
}
.block2{
    background-image: linear-gradient(20deg, red, green);
    border-radius: 50%;
    overflow: auto;
}
.block3{
    background-image: linear-gradient(
            50deg, green, green 30%, red 30%,
            red 70%, blue 70%, #09411a
    );
}
img:hover{
    transform: scaleY(2);
    transition-duration: 2s;
}