.container{
    margin: 1em;
    padding: 2em;
    border: solid 0.2em darkgray;
    border-radius: 0.5em;
    box-shadow: -0.5em -0.5em 0.2em black;
}
.row{
    margin-bottom: 3em;
}
.row-anim-pics div{margin: 0 2em;}
.row-anim-pics div:last-child{box-shadow: 2em 2em 2em gray;}
.animated-pic-container{
    text-align: center;
}
.row > div{
    display: inline-block;
}
div[class^='block']{
    width: 33%;
}
.block1{
    background-image: linear-gradient(0deg, blue, yellow);
}
.block2{
    background-image: linear-gradient(20deg, red, green);
    border-radius: 50%;
    overflow: auto;
}
.block3{
    background-image: linear-gradient(
            50deg, green, green 30%, red 30%,
            red 70%, blue 70%, #09411a
    );
}
img[src$='Turtle.png']:hover{
    transform: scaleX(2) scaleY(2) rotate(-20deg);
    transition-duration: 2s;
}
/*TEXT Animation styles ------------------------------------*/
@keyframes text-animation_1 {
    from {color: black;}
    30% {color: blue;}
    60% {color: greenyellow;}
    to {color: white;}
}
.block2{
    animation: text-animation_1 3s infinite;
}
/*TEXT Animation styles ------------------------------------*/

/*Sprite Animation styles ----------------------------------*/
@keyframes alle-anim_1 {
    from{
        background: url("./sprite_anim.jpg") -25px -58px;
    }to{
             background: url("./sprite_anim.jpg") -280px -58px;
     }
}
#animated-picture{
    float: left;
    transform: skewX(-5deg) skewY(-5deg) rotate(5deg);
    /*border: solid 1px black;*/
    width: 120px;
    height: 200px;
    animation: alle-anim_1 0.1s steps(2) infinite;
    background: url("./sprite_anim.jpg") -25px -58px;
}

@keyframes alle-anim_2 {
    from{
        background: url("./deer-sprite.png") 0 0;
    }to{
         background: url("./deer-sprite.png") -855px 0;
     }
}
#animated-picture_1{
    float: right;
    /*border: solid 1px black;*/
    width: 145px;
    height: 233px;
    animation: alle-anim_2 0.8s steps(6) infinite;
    background: url("./deer-sprite.png") 0 0;
}
/*Sprite Animation styles ----------------------------------*/

.container:hover .row > .block1{
    background-image: linear-gradient(0deg, green, black);
    color: #ffffff;
}
.container:hover .row > .block2{
    box-shadow: 0 0 4em white inset;
}
@keyframes hoverblock-3-anim{
    from {background-color: #fff; color: black;}
    25% {background-color: #FF0000; color: blue;}
    50% {background-color: #888888; color: greenyellow;}
    75% {background-color: turquoise; color: #09411a;}
    to {background-color: black; color: #fff;}
}
.container:hover .row > .block3{
    background-image: none;
    animation: hoverblock-3-anim 2s infinite;
}
img.scalable{
    position: relative;
    top: -7em;
}

.container:hover div img.scalable{
    transform: translateY(20em);
    transition: 2s;
}

.container:hover div div#animated-picture{
    transform: translateX(20em);
    transition: 2s;
}
